body {
    background-color: rgb(237, 237, 237);
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin: 0;
    height: 150px;
    background-image: url(../media/formation-java-jee.webp);
    background-position: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-decoration: none;

}
h1 a {
    text-decoration: none;
    color: whitesmoke;
}

h2 {
    height: 60px;
    padding: 0;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    background-image: url(../media/formation-java-jee.webp);
    color: whitesmoke;
    text-decoration: double;
    border-top-color: whitesmoke;
    border-bottom-color: whitesmoke;
    border-left-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase;
}
div {
    padding: 50px;
}

#div1 {
    background-color: #2c75ff;
    width: 200px;
    height: 200px;
    color: transparent;
    border: 2px solid black;
    position: absolute;
    top: 500px;
    left: 300px;
}

#div2 {
    background-color: goldenrod;
    border: 2px solid black;
    height: 65px;
}

#div3 {
    background-color: rgb(20, 162, 108);
    width: 50px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    top: 350px;
    left: 400px;
}

#div4 {
    width: 800px;
    background-color: paleturquoise;
    border: 2px solid black;
    position: absolute;
    top: -600px;
    left: -650px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    background-color: #111111;
}
footer p {
    text-align: right;
    margin-right: 55px;

}
button {
    text-decoration: none;
    color: whitesmoke;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    z-index: 10;
    background-color: #111111;
}

button a {
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
footer a {
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    position: fixed;
    bottom: 15px;
    left: 20px;
}

#espaceur {
    height: 700px;
    color: transparent;
}