/* Coolors Exported Palette - https://coolors.co/778c64-111111-fbe7c6-657755-f6ca83 */

/* CSS HEX */
--reseda-green: #778c64ff;
--night: #111111ff;
--champagne: #fbe7c6ff;
--reseda-green-2: #657755ff;
--sunset: #f6ca83ff;

/* CSS HSL */
--reseda-green: hsla(92, 17%, 47%, 1);
--night: hsla(0, 0%, 7%, 1);
--champagne: hsla(37, 87%, 88%, 1);
--reseda-green-2: hsla(92, 17%, 40%, 1);
--sunset: hsla(37, 86%, 74%, 1);

/* SCSS HEX */
$reseda-green: #778c64ff;
$night: #111111ff;
$champagne: #fbe7c6ff;
$reseda-green-2: #657755ff;
$sunset: #f6ca83ff;

/* SCSS HSL */
$reseda-green: hsla(92, 17%, 47%, 1);
$night: hsla(0, 0%, 7%, 1);
$champagne: hsla(37, 87%, 88%, 1);
$reseda-green-2: hsla(92, 17%, 40%, 1);
$sunset: hsla(37, 86%, 74%, 1);

/* SCSS RGB */
$reseda-green: rgba(119, 140, 100, 1);
$night: rgba(17, 17, 17, 1);
$champagne: rgba(251, 231, 198, 1);
$reseda-green-2: rgba(101, 119, 85, 1);
$sunset: rgba(246, 202, 131, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-right: linear-gradient(90deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-bottom: linear-gradient(180deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-left: linear-gradient(270deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-top-right: linear-gradient(45deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-bottom-right: linear-gradient(135deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-top-left: linear-gradient(225deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-bottom-left: linear-gradient(315deg, #778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);
$gradient-radial: radial-gradient(#778c64ff, #111111ff, #fbe7c6ff, #657755ff, #f6ca83ff);