/* #################################
            CONTACT
################################# */
h1 {
    font-size: x-large;
}

#text-contact {
    font-size: 16px;
    margin-top: 10px;
}

#mail {
    text-align: center;
}

#mail a {
    text-decoration: none;
    color: #111111;
    opacity: 0.8;
    font-size: 20px;
}

#mail a:hover {
    opacity: 1;
}

form {
    background-image: url(../media/Broceliande-flou.jpg);
    background-position: center;
    background-size: cover;
    height: 520px;
    border-radius: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #111111;
}

#formulaire {
    min-height: 50px;
    width: 100%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    margin: auto;
    padding: auto;
}

#formulaire div {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

#formulaire label {
    width: 100%;
    margin: 0;
}
#formulaire input {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #015205 ;
}

#formulaire textarea {
    width: 100%;
    height: 160%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #015205 ;
    resize : none;
}

#formulaire .name {
    margin-top: 10px;  
}

.name {
    grid-column: span 2;
    text-align: left;
    margin: 15px;
    font-size: 18px;
}

.mail-message {
    grid-column: span 2;
    text-align: left;
    margin: 15px;
    font-size: 18px;
}

#send {
    position: relative;
    top: 55px;
    right: -80%;
}

@media screen and (min-width:600px){
    h1 {
        font-size: 36px;
    }
    
    form {
        height: 480px;
    }
    .name {
        grid-column: span 1;
        text-align: left;
        margin: 15px;
        font-size: 18px;
    }
    
    .mail-message {
        grid-column: span 2;
        text-align: left;
        margin: 15px;
        font-size: 18px;
    }

    #formulaire textarea {
        height: 160%;
    }

    #send {
        right: -85%;
    }

}

@media screen and (min-width:800px){
    #send {
        top: 10px;
        right: -90%;
    }

    .email-objet {
        grid-column: span 1;
    }

    #formulaire textarea {
        height: 230%;
        margin-top: 10px;
    }

}


@media screen and (min-width:1200px){
    
    #send {
        right: -94%;
    }

    .text {
        font-size: 20px;
    }

    #mail {
        font-size: x-large;
    }

    #email {
        grid-column: span 1;
    }
}
